@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components{
    .iform{
        @apply border-2 border-b-black
    }
    .lineEffect{
        @apply relative text-black after:absolute after:left-0 after:-bottom-1
             after:h-[2px] after:w-0 after:bg-blue-500
             after:transition-all after:duration-300
             hover:after:w-full
    }
}
